@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background: #FDF5E6;
  width: auto;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  line-height: 2rem;
  color: #000;
}

header {
  margin: 3rem;
  padding: 1rem;
  background: #CD5C5C;
  text-align: center;
  border-radius: 20px;
}

header#principal {
  display: flex;
  align-items: center;
  gap: 2rem;
}

header img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

header h1 {
  padding-bottom: 1rem;
}

#main {
  background: #F08080;
  margin: 3rem;
  padding: 1rem;
  border-radius: 20px;
}

section {
  margin-bottom: 2rem;
  padding: 1rem;
}

section h2 {
  margin-bottom: 1rem;
}

section h3 {
  margin: 1rem;
  color: white;
}

section p {
  text-align: justify;
}

section ul {
  list-style: none;
}

section ol {
  margin-left: 1rem;
}

section a {
  text-decoration: none;
  color: black;
}

section a:hover {
  color: white;
}

section#voltar {
  margin-top: -2rem;
  margin-bottom: -1rem;
  text-decoration: none;
  text-align: right;
}

section figure {
  text-align: center;
}

section figure img {
  width: 80%;
  border-radius: 20px;
  margin-top: 1rem;
}

section figure figcaption {
  font-style: italic;
  font-size: 0.8rem;
}

nav a {
  text-decoration: none;
  color: #000;
}


nav a:hover {
  text-decoration: none;
  color: #fff;
}

footer {
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

footer a {
  text-decoration: none;
  color: #000;
}
